#mainDiv {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: -4%;
  margin-bottom: 0;
  height: 100em;
  background-color: #189AB4;
}

#searchBarDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 15%;
  }

#searchBar {
    border: none;
    border-radius: 25px;
    background-color: #D4F1F4;
    overflow: hidden;
    height: 1.7em;
    width: 80%;
    font-size: 35px;
    padding: 10px;
  }

#searchBar {
    overflow: hidden;
    height: 2em;
    width: 80%;
    font-size: 40px;
    vertical-align: middle;
}

#submitButton {
  border: none;
  border-radius: 25px;
  background-color: #75E6DA;
  vertical-align: middle;
  margin-left: 0.5%;
  height: 3em;
  width: 15%;
  font-size: 20px;
  font-weight: bold;
}

#navbar {
  background-color: #75E6DA;
  height: 5%;
  width: 100%;

  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 4%;

}

#navbar li {
  display: inline;
  float: left;
}

#navbar li a {
  display: block;
  padding: 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
}



